<footer class="dashboard">
    <h4>Contato</h4>
    <div class="endereco">
        <span> <img src="/app/static/assets/mapa.svg" alt="ebdereço" class="icones-footer-dashboard">Setor Leste, 123 -
            Planaltina GO</span>
        <span> <img src="{{ url_for('static', filename='assets/telefone.svg') }}" alt="telefone para contato"
                class="icones-footer-dashboard">(61) 99999-9999</span>
        <span><img src="{{ url_for('static', filename='assets/clock-tempo.svg') }}" alt="horarios"
                class="icones-footer-dashboard"> Seg-Sáb:
            9h-19h</span>
    </div>
    <div class="horarios-funcionamento">
        <h4>Horários</h4>
        <div class="dias-horarios">
            <span class="dias">Segunda - Sexta</span>
            <span class="horarios">9h-19h</span>
        </div>
        <div class="dias-horarios">
            <span class="dias">Sábado</span>
            <span class="horarios">9h-17h</span>
        </div>
        <div class="dias-horarios">
            <span class="dias">Domingo</span>
            <span>Fechado</span>
        </div>
    </div>
    <div id="direitos-autorais">
        <p>&copy; 2026 Barbershop Premium. Todos os direitos reservados.</p>
    </div>
</footer>